@font-face {
    font-family: 'Libre Baskerville';
    src: url('/fonts/LibreBaskerville-Bold.woff2') format('woff2'), url('/fonts/LibreBaskerville-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hind Madurai';
    src: url('/fonts/HindMadurai-Bold.woff2') format('woff2'), url('/fonts/HindMadurai-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hind Madurai';
    src: url('/fonts/HindMadurai-Regular.woff2') format('woff2'), url('/fonts/HindMadurai-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lora';
    src: url('/fonts/Lora-Italic.woff2') format('woff2'), url('/fonts/Lora-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}